*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*大图*/
.banner{
	 height: 400px;
    width: 100%;
    background: url(../img/jj/ab1.png) no-repeat center;
    background-size: cover;
    margin-top: 82px;
}
/*公司简介*/
.company_con_n{
	  padding-top: 50px;
    padding-bottom: 60px;
}
.company_con_n .title{
	    position: relative;
    font-size: 40px;
    color: #2C3036;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
}
.company_con_n .title:after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #2C3036;
    bottom: -22px;
    left: 50%;
    margin-left: -25px;
}
.company_con_des {
    width: 71%;
    margin: 40px auto 0;
    font-size: 16px;
    color: #66666B;
    line-height: 28px;
    text-align: justify;
    overflow: hidden;
}
/*大图2*/
.deve_his{
	    height: 1184px;
    width: 100%;
    /*min-width: 1080px;*/
    background: url(../img/jj/map_01_03.jpg) no-repeat center;
    background-size: cover;
}
.deve_his_step{
   height: 1184px;
    width: 71%;
    margin: 0 auto;
    /*min-width: 1080px;*/
    background: url(../img/jj/ab2.png) no-repeat center;
    background-size: cover;
}
/*加入我们*/
.join{
	  width:100%;
    background: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.join .titles{
	    position: relative;
    font-size: 40px;
    color: #2C3036;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
}
.join .titles:after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #2C3036;
    bottom: -22px;
    left: 50%;
    margin-left: -25px;
}
.navMenubox {   
   width: 80%;
    padding: 10px 40px 40px;
    margin: 0 auto;
    background: #fff;
    margin-top: 60px;
  }
.navMenubox  .title{
    border-bottom: 3px solid #E8EBEF;
    font-weight: bold;
}
.join_top{
	    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 16px;
    color: #66666B;
    cursor: pointer;
    position: relative;
}
.fl{
	float: left;
}
.join_name{
    width: 40%;
    padding-left: 5px;
}
.join_cate{
	width: 20%;
}
.join_location{
	width: 20%;
}

/*大盒子*/
.navMenu-top {
	 padding: 10px; 
	 color: #fff;
  border-bottom:1px solid rgba(255,255,255,.1)
   }
.navMenu> li span{
  display: inline-block;
}
.navMenu> li span:nth-child(1){
      width: 40%;
      padding-left: 5px
}
.navMenu> li span:nth-child(2){
      width: 20%;
}
.navMenu> li span:nth-child(3){
      width: 20%;
}
.navMenu> li span.arrow{
         width: 10%;
    vertical-align: middle;
    height: 40px;
    margin-top: 25px;
    line-height: 50px;
    font-size: 16px;
    color: #66666B;
    cursor: pointer;
    position: relative;
    background: url(../img/jj/about_add.png) no-repeat;
}
.navMenu> li { 
    display: block;
    border-bottom: 1px solid #f5f5f5;
}
.navMenu>li>a { 
   display: block;
   overflow: hidden;
   padding-left: 0px;
   line-height: 40px; 
   color: #66666B;
    transition: all .3s;
     position: relative; 
    font-size: 17px; 
}

.navMenu li a .arrow.open { 
	    background:url(../img/jj/about_minus.png) no-repeat;
    background-size: 12px auto;
}
.navMenu>li>a.active, .navMenu>li>a:hover { 
	 background: #F6F6F6;
    background-size: 12px auto;
}
.navMenu>li>ul.sub-menu {
   display: none;    
   padding-bottom: 30px;
    padding-left: 20px;
    font-size: 14px;
    color: #66666B;
    line-height: 28px;
    text-align: justify;
    display: none;
    padding-top: 30px; 
}
.navMenu>li>ul.sub-menu  p{
	text-align: left;
}
.navMenu>li>ul.sub-menu li>a { 
	display: block; 
	font-size: 16px;
	 line-height: 36px;
	  padding-left: 20px; 
	  color: #ABB1B7; 
	  clear: both;
}
/*联系我们*/
.contact_us{
	  height: 100%;
    width: 100%;
    background: url(../img/jj/ab3.jpg) no-repeat center;
    background-size: cover;
}
.contact_con{
    width: 80%;
    margin: 0 auto;
    height: 370px;
}
.contact_bg{
	    width: 40%;
    height: 300px;
    background: rgba(44,48,54,.8);
    float: right;
    padding-left: 50px;
    padding-top: 70px;
}
.contact_title {
    position: relative;
    font-size: 40px;
    color: #fff;
    margin-bottom: 70px;
    }
   .contact_title:after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #fff;
    bottom: -12px;
    left: 0;
}
.contact_item {
    font-size: 16px;
    color: #fff;
    line-height: 36px;
}
@media screen and (max-width: 992px){
	.banner{
	 height:500px;
    width: 100%;
    background: url(../img/jj/ab2.jpg) no-repeat center;
    background-size: cover;
    margin-top: 82px;
  }
  .deve_his_step{
   height: 1184px;
    width: 100%;
    margin: 0 auto;
    background: url(../img/jj/m_about_h_04.jpg) no-repeat center;
    background-size: cover;
}
.company_con_des{
	width: 80%;
	margin: 37px auto 0;
	font-size: 12px;
}
.navMenubox{
	width:90%;
}
.navMenu>li>ul.sub-menu strong{
	font-size: 10px;
}
.navMenu>li>ul.sub-menu p{
	font-size: 9px;
}
}