.bread{
    margin: 30px auto;
    margin-top: 130px;
    font-size: 14px;
    color: #6E6E73;
    width: 1160px;
}
.bread a:first-child {
    background: url(../img/icon-home.jpg) no-repeat left center;
    padding-left: 20px;
    display: inline-block;
}
.bread a{
    color: #313131;
    text-decoration: none;
}
.download{
    width: 1160px;
    margin: 0 auto;
    padding-left: 200px;
}
.download ul{
    float: left;
    width: 368px;
    min-height: 600px;
    background-color: #F7F7F7;
    text-align: center;
    margin-bottom: 45px;
}
.download ul h1{
    font-family: helvetica;
    font-size: 24px;
    color: #a9a9a9;
    padding: 25px 0;
}
.download ul li:nth-child(2){
    height: 235px;
    width: 368px;
    background: #F1F1F2 url(../img/download1.png) no-repeat center center;
}
.download ul:last-child{
    height: 235px;
    width: 368px;
    background: #F1F1F2 url(../img/download2.png) no-repeat center center;
}
.ceator_version_con {
    width: 250px;
    margin: 0 auto;
}
.download ul a.ceator_version.curr {
    border: 1px solid #65A7EB;
    background: #65A7EB;
    color: #fff;
}
.download ul a.ceator_version {
    float: left;
    width: 125px;
    height: 46px;
    color: #65A7EB;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 46px;
    margin: 0 auto;
    margin-top: 20px;
}
.download ul a {
    display: block;
    width: 250px;
    height: 46px;
    border: 1px solid #65A7EB;
    color: #65A7EB;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 46px;
    margin: 0 auto;
    margin-top: 20px;
}